<div class="st-pusher" id="content">
<div class="st-content-inner">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
				<%= form_for @event do |f| %>
					<div class="form-group">
						<%= f.label :day, "When are you riding?", class: "col-sm-3 control-label" %>
						<div class="col-sm-9">
							<%= f.select :day, options_for_select([['Today', 'Today'],['Tomorrow', 'Tomorrow']]) %>s
						</div>
					</div>
					<div class="form-group">
						<%= f.label :area, "Where are you riding?", class: "col-sm-3 control-label" %>
						<div class="col-sm-9">
							<%= f.text_field :area, class: "form-control", placeholder: "e.g. Pleney" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :level, "Level", class: "col-sm-3 control-label" %>
						<div class="col-sm-9">
						    <div class="checkbox">
								<%= f.check_box :level %> Beginner (Greens and Blues)
							</div>
							<div class="checkbox">
								<%= f.check_box :level %> Intermediate (Reds)
							</div>
							<div class="checkbox">
								<%= f.check_box :level %> Advanced (Blacks)
							</div>
							<div class="checkbox">
								<%= f.check_box :level %> Nuts (Anywhere with Snow)
							</div>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :plan, "Plan", class: "col-sm-3 control-label" %>
						<div class="col-sm-9">
						    <div class="checkbox">
								<%= f.radio_button :plan, "Piste" %> Piste
								<br />
								<%= f.radio_button :plan, "Park" %> Park
								<br />
								<%= f.radio_button :plan, "Off-Piste" %> Off-Piste
								<br />
								<%= f.radio_button :plan, "All-mountain" %> All-mountain
							</div>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9">
					    	<%= f.submit "Submit", class: "btn btn-primary" %>
					    </div>
					</div>
					<% end %>
				</form>
			</div>
		</div>
	</div>
</div>



